.App {
  position: relative;
  text-align: center;
  background: url('./img/entertaniment.jpeg') no-repeat center center/cover;
  min-height: 100vh;
}

.App::before {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  min-height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#home .container {
  max-width: 1200px;
}

.btn-icon {
  transition: transform 2s;
}

.btn-icon:hover {
  transform: scale(1.15);
}

.movie-img {
  transition: transform 0.5s;
}

.movie-img:hover {
  cursor: pointer;
  transform: scale(1.15);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
